@inject AboutMeService AboutMe_Service

@if (aboutMe == null)
{
    <p>Loading...</p>
}
else
{
    <div class="about-container">
        <img src="images/Resume Site Image.jpg" class="about-avatar" alt="Avatar">
        <h3 class="about-name">@aboutMe.Name</h3>
        <h4 class="about-title">@aboutMe.Title</h4>
    </div>
}

@code
{
    private AboutMe? aboutMe;

    protected override async Task OnInitializedAsync() => aboutMe = await AboutMe_Service.GetAboutMeAsync();
}