@inject EducationService Education_Service

@if (education == null)
{
    <p>Loading...</p>
}
else
{
    <div class="education-container">
        <h3 class="fw-bold">Education</h3>
        <hr />

        @foreach (var edu in education)
        {
            <div class="education-card">
                <div class="education-details">
                    <h4 class="fw-bold">@edu.Name</h4>
                    <h5>@edu.Degree, @edu.Field</h5>
                    <h5>@edu.GraduationYear</h5>
                </div>
            </div>
        }
    </div>
}


@code
{
    private List<Education>? education;

    protected override async Task OnInitializedAsync() => education = await Education_Service.GetEducationAsync();
}
