@inject EducationService Education_Service

@if (education == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h3 class="fw-bold">Education</h3>
            <hr/>

            @foreach (var edu in education)
            {
                <h5 class="fw-bold">@edu.Name</h5>
                <h5>@edu.Degree, @edu.Field</h5>
                <h5>@edu.GraduationYear</h5>
            }
        </div>
    </div>
}

@code
{
    private List<Education>? education;

    protected override async Task OnInitializedAsync() => education = await Education_Service.GetEducationAsync();
}
