.social-media 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.social-media a 
{
    font-size: 7rem;
    color: #000; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover 
{
    transform: scale(1.1);
    color: #007bff;
}

@media (max-width: 576px) 
{
    .social-media a 
    {
        font-size: 4rem; 
    }
}
